NEXT_PUBLIC_PROJECT_ID = 1bb6e7e1a1d073e7262ff335ce1c3aa9
NEXT_PUBLIC_PROJECT_NAME = ChadBase
NEXT_PUBLIC_ALCHEMY_API_KEY = Uz6s--axLZuIjF3wWPy_lgg4w2qqA26M
NEXT_PUBLIC_NFT_CONTRACT = 
NEXT_PUBLIC_TESTNET = 
NEXT_PUBLIC_TOKEN_CONTRACT = 
